body {
  background: #f0f0f0;
}

#toolbar {
  text-align: center;
}

#page {
  position: relative;
  margin: 10px auto 50px;
  width: 960px;
  height: 1344px; /* A4 Ratio is ~ 1:1.4 */
  background-color: #fff;
  box-shadow: #c9c9c9 0 0 5px;
}

.widget {
  position: absolute;
  top: 20px;
  left: 20px;
	width: 160px;
	height: 160px;
  overflow: hidden;
  cursor: move;
}
.widget.widget-layout-mode:hover {
  outline: 1px dashed #ccc;
}
.widget.widget-edit-mode {
  outline: 1px solid #666;
}

.widget .ui-icon-gripsmall-diagonal-se {
  opacity: 0;
}
.widget:hover .ui-icon-gripsmall-diagonal-se {
  opacity: 1;
}

.widget.ui-draggable-disabled {
  cursor: auto;
}

.widget-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  line-height: 16px;
  width: 16px;
  height: 16px;
  background: rgba(230,230,230,0.2);
  color: #333;
  border: none;
  border-radius: 0;
  font-size: 12px;
  cursor: pointer;
}

.widget-delete {
  top: 0;
  right: 0;
}

.widget:hover .widget-button {
  display: block;
}

.widget {
  text-align: center;
}

.ui-state-disabled {
  opacity: 1;
}

.widget-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.browseimage {
  color: white;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  font-size: 132px;
}