.datatable {
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
}

.datatable th {
  border: 1px solid #666;
  margin: 0;
  padding: .5em;
  text-align: center;
}

.datatable td {
  border: 1px solid #666;
  margin: 0;
  padding: 1em;
  text-align: left;
}

.datatable .subject, .datatable .teacher {
  display: block;
  text-align: left;
}
.datatable .teacher {
  font-weight: normal;
}