.datatable {
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
}

.datatable th {
  border: 1px solid #666;
  margin: 0;
  padding: .5em;
  text-align: center;
}

.datatable td {
  border: 1px solid #666;
  margin: 0;
  padding: 1em;
  text-align: left;
}

.datatable .subject, .datatable .teacher {
  display: block;
  text-align: left;
  line-height: 1.2;
}
.datatable .teacher {
  font-weight: normal;
  font-size: 0.9em;
}

.datatable-edit {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  overflow: scroll;
}
.datatable-edit th {
  text-align: left;
}


.style-option {
  margin: 0 0 1em 0;
}
.style-option label {
  display: inline-block;
  min-width: 200px;
  font-weight: bold;
  font-size: 12px;
}
.style-option input {
  display: inline-block;
}