body {
  background: #f0f0f0;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0;
  min-width: 980px;
}

#toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #4184D3;
  color: #fff;
  font-weight: 300;
}

#template-name {
  float: left;
  padding: 0;
}

#template-name .file {
  top:  12px;
  display: block;
}

#name {
  margin: 10px;
  padding: 0 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

#undo {
  position: relative;
  float: left;
  display: inline-block;
  margin: 3px 0 10px 30px;
  text-decoration: none;
  cursor: not-allowed;
  opacity: 0.3;
}
#undo i {
  position: relative;
  top: 0px;
}
#redo {
  display: inline-block;
  float: left;
  margin: 3px 10px 10px 0;
  text-decoration: none;
  cursor: not-allowed;
  opacity: 0.3;
}
#redo i {
  position: relative;
  top: 0px;
}
#undo.enabled, #redo.enabled {
  opacity: 1;
  cursor: pointer;
}

#nav {
  float: right;
  margin: 0;
  padding: 0;
}

#nav .nav-option {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#nav .subnav {
  display: none;
  background-color: #3467A3;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  padding: 20px;
}

#nav .nav-option:hover .subnav {
  display: block;
}

#nav .nav-option a {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 20px 0 60px;
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}
#nav .nav-option:hover a {
  background-color: #3467A3;
}
#nav .nav-option a .glyphicons {
  position: absolute;
  top: 12px;
  left: 25px;
}

#viewport {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 300px;
  padding: 0 10px;
  overflow: auto;
}

.page {
  z-index: 100;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: #c9c9c9 0 0 5px;
}
.page-active {
  z-index: 101;
  position: relative;
  visibility: visible;
}

#properties {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: #ddd;
  border-left: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

 /* A4 Ratio is ~ 1:1.4 */

.page[data-orientation='portrait'] {
  width: 960px;
  height: 1344px;
}

.page[data-orientation='landscape'] {
  width: 1344px;
  height: 960px;
}

.add-widget {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 30px 20px 70px;
  cursor: pointer;
}
.add-widget:hover {
  background-color: #2A588D;
}
.add-widget i {
  position: absolute;
  top: 30px;
  left: 25px;
}
.add-widget h4 {
  margin: 0;
  padding: 0 0 0.2em 0;
  font-weight: 300;
  font-size: 18px;
}
.add-widget p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 14px;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

#viewport.screenshot {
  position: relative;
  overflow: auto;
  margin-right: 300px;
}

#save-msg {
  margin: 18px 10px;
  color: #fff;
  float: left;
  display: none;
  font-size: 0.7em;
}

#pages {
  text-align: center;
}

#page-list {
  display: inline-block;
}

.page-button {
  display: inline-block;
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #eee;
  cursor: pointer;
}
.page-button:hover {
  background-color: rgba(0,0,0,0.2);
}
.page-button-active {
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  font-weight: bold;
}
.page-icon {
  position: relative;
  background-color: #fff;
  width: 100px;
  height: 140px;
  margin: 0 0 10px 0;
}

.page-button-landscape .page-icon {
  width: 140px;
  height: 100px;
}

.page-delete-button {
  color: #c33;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 10px;
  font-size: 20px;
  padding: 5px;
}
.page-delete-button:hover {
  color: #e22;
}

#add-page .page-icon {
  background-color: rgba(255,255,255,0.5);
}
#add-page:hover .page-icon {
  background-color: rgba(255,255,255,0.8);
}
