body {
  background: #f0f0f0;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0 10px;
  min-width: 980px;
}

#toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #4184D3;
  color: #fff;
  font-weight: 300;
}

#template-name {
  float: left;
  padding: 0 0 0 20px;
}

#template-name .file {
  top:  12px;
}

#name {
  margin: 10px 0 10px 40px;
  padding: 0 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

#nav {
  float: right;
  margin: 0;
  padding: 0;
}

#nav .nav-option {
  display: inline-block;
  width: 160px;
  margin: 0;
  padding: 0;
}

#nav .subnav {
  display: none;
  background-color: #3467A3;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  padding: 20px;
}

#nav .nav-option:hover .subnav {
  display: block;
}

#nav .nav-option a {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}
#nav .nav-option:hover a {
  background-color: #3467A3;
}
#nav .nav-option a .glyphicons {
  position: absolute;
  top: 12px;
  left: 25px;
}


#gallery {
  text-align: center;
}

#page {
  z-index: 1;
  position: relative;
  margin: 70px auto;
  background-color: #fff;
  box-shadow: #c9c9c9 0 0 5px;
}

 /* A4 Ratio is ~ 1:1.4 */

.portrait {
  width: 960px;
  height: 1344px;
}

.landscape {
  width: 1344px;
  height: 960px;
}


.add-widget {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 30px 20px 70px;
  cursor: pointer;
}
.add-widget:hover {
  background-color: #2A588D;
}
.add-widget i {
  position: absolute;
  top: 30px;
  left: 25px;
}
.add-widget h4 {
  margin: 0;
  padding: 0 0 0.2em 0;
  font-weight: 300;
  font-size: 18px;
}
.add-widget p {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 14px;
}


.hidden {
  display: none !important;
}