.prop-selection {
  font-size: 18px;
  margin: 0;
  padding: 20px 20px 10px 20px;
  line-height: 1;
  font-weight: 400;
}
.disabled .prop-selection {
  background-color: #888;
}


.prop-section-header {
  margin: 0;
  padding: 7px 10px;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  background-color: #bfbfbf;
  color: #666;
  display: none;
}

.prop-content {
  padding: 20px;
  font-size: 12px;
  border-bottom: 1px solid #e6e6e6;
}
.disabled .prop-content {
  color: #999;
}

.prop-layout label {
  display: inline-block;
  width: 20%;
  text-align: right;
  margin-right: 3%;
  font-weight: bold;
  font-size: 14px;
}

.prop-option-header {
  margin: 0 0 .25em 0;
  padding: .5em 0;
  font-weight: bold;
  font-size: 14px;
}

.prop-block-label {
  display: block;
  padding: .1em 0;
  font-size: 14px;
}

.prop-layout .prop-coord-input {
  display: inline-block;
  width: 22%;
}


.prop-option {
  margin: 0 0 10px 0;
  position: relative;
}

.prop-option:first-child {
  margin-top: 0;
}
.prop-option.color {
  display: inline-block;
  width: 33.3333333%;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.prop-option.color label {
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin-top: 5px;
}
.prop-label {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 5px;
  font-weight: 400;
  vertical-align: middle;
  font-size: 14px;
}
.prop-input {
  box-sizing: border-box;
  display: block;

}
.prop-input[type="checkbox"] {
  float: right;
  margin: 5px;
}
.prop-input[type="color"] {
  height: 80px;
  width: 100%;
  margin: 5px 0 0;
  vertical-align: middle;
  border: none;
  padding: 5px;
}
.prop-input.multiple {
  display: block;
  height: 10em;
  width: 100%;
  max-width: 100%;
}
.prop-hint {
  font-size: 11px;
  line-height: 1.4;
  color: #666;
  margin: 5px 0 0 0;
  padding: 0;
}

.prop-table-config {
  margin-bottom: 10px;
}
.prop-table-config h4 {
  margin: 10px 0 5px 0;
  padding: 0;
}
.prop-table-config table {
  border-collapse: collapse;
  font-size: 11px;
  text-align: left;
  width: 100%;
  max-width: 100%;
}
.prop-table-wrap {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.prop-table-config th {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  line-height: 1;
  background-color: #fff;
  color: #555;
  border-bottom: 1px solid #e6e6e6;
}
.prop-table-config td {
  vertical-align: top;
  padding: 5px;
}
.prop-table-config tr:nth-child(odd) td {
  background-color: #fcfcfc;
}.prop-table-config tr:nth-child(even) td {
  background-color: #fcfcfc;
}
.prop-table-config input {
  border: 1px solid #ddd;
  background-color: inherit;
}
.prop-table-config input:focus {
  border: 1px solid #666;
  background-color: #fff;
}

#orientation, #multipage {
  margin: 0 0 1.5em 0;
}
.style-tab-button.hidden, .data-tab-button.hidden {
  display: none;
}