.widget {
  position: absolute;
  top: 20px;
  left: 20px;
	width: 160px;
	height: 160px;
  overflow: hidden;
  cursor: move;
}
.widget.widget-layout-mode:hover {
  outline: 1px dashed #ccc;
}
.widget.widget-edit-mode {
  outline: 1px solid #666;
}

.widget .ui-icon-gripsmall-diagonal-se {
  opacity: 0;
}
.widget:hover .ui-icon-gripsmall-diagonal-se {
  opacity: 1;
}

.widget.ui-draggable-disabled {
  cursor: auto;
}

.widget-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  line-height: 16px;
  width: 16px;
  height: 16px;
  background: rgba(230,230,230,0.2);
  color: #333;
  border: none;
  border-radius: 0;
  font-size: 12px;
  cursor: pointer;
}

.widget-delete {
  top: 0;
  right: 0;
}

.widget:hover .widget-button {
  display: block;
}

.widget {
  text-align: center;
}

.ui-state-disabled {
  opacity: 1;
}

.widget-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}
.widget-content p {
  margin: 0;
  padding: 0;
}

.browseimage {
  color: white;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  font-size: 132px;
}

nav {
  background-color: black;
  color: white;
  padding: 10px;
}

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: 98;
  display: none;
  top: 0;
  left: 0; }

.reveal-modal {
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  width: 80%;
  background-color: white;
  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 50px; }
  .reveal-modal .column,
  .reveal-modal .columns {
    min-width: 0; }
  .reveal-modal > :first-child {
    margin-top: 0; }
  .reveal-modal > :last-child {
    margin-bottom: 0; }
  .reveal-modal .close-reveal-modal {
    font-size: 1.375em;
    line-height: 1;
    position: absolute;
    top: 0.5em;
    right: 0.6875em;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer; }