html, body {
  height: 100%;
}

#dragzone {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

#dropzone {
  position: fixed;
  right: 0; left: 0; top: 0;
  text-align: center;
  display: table-cell;
  line-height: 45px;
  height: 44px;
  border: 3px;
  border-style: dashed;
  border-color: white;
  color: white;
  text-transform: uppercase;
  background-color: #FFB935;
}

#dropzone.hidden {
  opacity: 0;
}

#dropzone.hover {
  background-color: #4A0;
}

#templates {
  margin-top: 40px;
  text-align: center;
}

#templates .template {
  display: inline-block;
  width: 250px;
  margin: 5px;

  text-decoration: none;
  color: #999;
  position: relative;
}

#templates .template p {
  margin-bottom: 5px;
}

#templates .template .thumbnail img {
  width: 100%;
}

#templates .template:hover .content   {
  box-shadow: 0px 0px 5px #888888;
  transition: all 0.15s linear;
}

#templates .template .content {
  box-shadow: 0px 0px 2px #888888;
}

#templates .template .content .thumbnail {
  position: relative;
  overflow: hidden;
}

#templates .template .actions {
  background-color: rgba(0, 0, 0, 0.65);
  line-height: 30px;
  position: absolute;
  bottom: -30px;
  left: 0; right: 0;
}

#templates .template:hover .actions {
  bottom: 0px;
  transition: bottom 0.2s;
}

#templates .template .actions {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
