body {
  font-family: $sans;
  background: darken($dark-grey, 2%);
  color: #fff;
  width: 100%;
}

.devtools {
  // display: none;
}

h1, h2, h3, h4 {
  font-family: $display;
}

h1 {
  margin-top: 0;
  text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.red {
  color: #ff0000;
}
.float-right {
  float: right;
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  background: lighten($dark-grey, 2%);
}

.content {
  padding: 20px;
  padding-left: $sidebar-width + 20;
}