input.soulstones {
  background-color: lighten($grey, 5%);
  border: 1px solid lighten($grey, 15%);
  border-radius: 4px;
  color: #fff;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 5px 10px;
  &:focus {
    background: darken($grey, 5%);
    border-color: $primary;
  }
}

label {
  margin: 10px 0 3px;
  display: block;
  font-weight: bold;
}

.inline-select {
  display: table;
  input, .Select {
    display: table-cell;
    width: 100%;
  }
}

input[type="submit"],
button {
  background: $primary;
  color: darken($primary, 30%);
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

input[type="submit"]:hover,
button:hover {
  background: darken($primary, 10%);
  color: darken($primary, 35%);
}

.inline-select {
  input[type="submit"], button {
    border-radius: 0 4px 4px 0;
    height: 36px;
  }
}
